# Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)] 
```

In [237]:
# write your code here (Done)
test_list = [(5, 6), (5, 7), (5, 8), (6, 10),(6,20), (7, 13)] 

final_out = []
unique_int = []

for i in test_list:
    first_letter = i[0]
    second_letter = i[1]
    if first_letter not in unique_int:
        unique_int.append(first_letter)
        final_out.append(i)
        #print(final_out)
    else:
        for j in range(len(final_out)):
            #print("inside else" , final_out[j][0])
            if final_out[j][0]==first_letter:
                final_out[j] = final_out[j] + (second_letter,)
                #print(final_out[j])
                
        
final_out

[(5, 6, 7, 8), (6, 10, 20), (7, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result. 


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [67]:
# write your code here (Done)

tup = (1, 5, 7, 8, 10, 20)

#(tup[len(tup)-2]* tup[len(tup)-1])
tuple([tup[i]*tup[i+1] if i == 0 else tup[i-1] * tup[i] + tup[i]* tup[i+1] for i in range(len(tup)-1)]) + (tup[len(tup)-2]* tup[len(tup)-1],)

(5, 40, 91, 136, 280, 200)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [71]:
# write your code here (Done)
t1 = (1,2,3,0)
t2 = (1,2,3,0,5)

if t1==t2:
    print("Both tuples are same")
else:
    print("They are not same tuples")

They are not same tuples

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [83]:
# write your code here (Done)
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

list_count = 0
set_count = 0
tuple_count = 0

for i in list1:
    if type(i) is list:
        list_count += 1
    elif type(i) is set:
        set_count += 1
    else:
        tuple_count += 1
        
print(f"Lists: {list_count}")
print(f"Sets: {set_count}")
print(f"Tuples: {tuple_count}")

Lists: 2
Sets: 2
Tuples: 1

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [92]:
# write your code here (Done)

no_of_students = int(input("Enter no of records: "))

i = 1

student_list = []

while i <= no_of_students:
    print(f"Enter details of student - {i}")
    name = input("Enter student name: ")
    edu = input("Enter higher education: ")
    skill = input("Enter primary skill: ")
    grad_year = int(input("Enter year of graduation: "))
    
    student_list.append((name, edu, skill, grad_year))
    i+=1
    
student_list

print("Enter job role requirement")
skill_req = input("Enter skill: ")
edu_req = input("Enter higher education: ")
grad_year_req = int(input("Enter year of graduation: "))

required_candidate = []

for i in student_list:
    if skill_req.lower() == i[2].lower() and edu_req.lower() == i[1].lower() and grad_year_req == i[3]:
        required_candidate.append((i))

KeyboardInterrupt: Interrupted by user

# Set

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [107]:
# write your code here (Done)
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

lst = list(set(ar1 + ar2 + ar3))

[i for i in lst if i in ar1 and i in ar2 and i in ar3]

[80, 20]

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [101]:
# write your code here (Done)
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

lst= []

for i in Str1:
    if i in ('a','e','i','o','u') or i in ("A","E","I","O","U"):
        lst.append(i)
        
lst_set = set(lst)

print(f"No of unique vowels: {len(lst_set)}")

No of unique vowels: 6

### `Q3:` Write a program to Check if a given string is binary string of or not. 

A string is said to be binary if it's consists of only two unique characters.

Take string input from user. 

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [94]:
# write your code here (Done)
str1 = input("Please enter the string: ")

unique_str = []

for i in str1:
    if i not in unique_str:
        unique_str.append(i)

if len(unique_str) > 2:
    print('The given string is not binary')
else:
    print("The given string is binary")

Please enter the string: campusx
The given string is not binary

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [103]:
# write your code here (Done)
list1 = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

lst = []

for i in list1:
    lst.extend(i)
    
print(f"The desired output is : {list(set(lst))}")

The desired output is : [1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [104]:
# write your code here (Done)
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]

[i for i in lst1 if i in lst2]

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [124]:
# write your code here (Done)

test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

final_dict = {k:len(set(v)) for k,v in test_dict.items()}

print(final_dict)

#len(set(lst))
max(final_dict.values())

for i,v in final_dict.items():
    if v == max(final_dict.values()):
        print(i)

{'CampusX': 2, 'is': 2, 'Best': 3}
Best

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [135]:
# write your code here (Done)
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}

for i,v in repl_dict.items():
    if i in test_str:
        test_str = test_str.replace(i,v)
        
test_str

'CampusX best for DS students.'

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [183]:
# write your code here (Done)
test_list = ["CampusX", 10]
key_list = ["name", "id"]

list(zip(key_list, test_list))

key_len = len(key_list)
test_len = len(test_list)

lst = []
list_f=[]

i = 0

while i < test_len:
    lst.append(list(zip(key_list, test_list[i:i+1+key_len])))
    
    i+=key_len

#print(lst)


for i in lst:
    list_f.append({j[0]:j[1]   for j in i})

print(list_f)    

#[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

[{'name': 'CampusX', 'id': 10}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [140]:
# write your code here (Done)
dict1 = {}
list_of_tuples = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

dict1 = {i[0]:[i[1]]   for i in list_of_tuples}

dict1

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [212]:
# write your code here (Done)

dict1 = {'c': [10, 34, 3]}#{'c': [3], 'b': [12, 10], 'a': [19, 4]}

key_list = list(dict1.keys())

key_list.sort()

key_list

final_dict = {}

for i in key_list:
    lst = dict1.get(i)
    lst.sort()
    final_dict[i] = lst
    
final_dict

{'c': [3, 10, 34]}